# Haskell
dist/
dist-*/
cabal-dev/
*.semanticdb
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

# Direnv
.direnv
.pre-commit-config.yaml

# Aiken
build/
artifacts

# Scala
.bsp/
.idea/
project/project
project/target
target/

# tx dumping ground
txsl1.out
txsl2.out

# logs and outputs
/flamegraph.html
/yaci-store.log
/*.log
/dipsute.log

.metals
.bloop

old/**

# justfile
.just/notify

# dotenv
.env
