<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern> %highlight(%-5level) %cyan(%logger{64}) %n%msg%n
            </pattern>
        </encoder>
    </appender>
    <root level="error">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="org.scalacheck.commands.ModelBasedSuite" level="trace"/>
    <logger name="Stage1.Commands" level="warn"/>
    <logger name="Stage1.CommandGenerators" level="trace"/>
    <logger name="Stage1.ScenarioGenerators" level="warn"/>
    <logger name="Stage1.Model" level="trace"/>
    <logger name="Stage1.Sut" level="trace"/>
    <logger name="Stage1.Suite" level="trace"/>
    <logger name="CardanoLiaison" level="trace"/>
    <logger name="JointLedger" level="trace"/>
    <logger name="test.CardanoBackendMock" level="trace"/>
    <logger name="scalus" level="error"/>
    <logger name="DepositsMap" level="trace"/>
</configuration>
