<configuration>

    <root level="error">
        <appender-ref ref="STDOUT"/>
    </root>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>{HH:mm:ss} %highlight(%-5level) %cyan(%logger{64}) %n%msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="MERMAID" class="ch.qos.logback.core.FileAppender">
        <file>stage4-peers-interaction.mmd</file>
        <append>false</append>
        <layout class="hydrozoa.integration.MermaidSequenceDiagramLayout">
            <pattern>%msg%n</pattern>
        </layout>
    </appender>
    <logger name="Mermaid.PeerLiaison" level="info" additivity="false">
        <appender-ref ref="MERMAID"/>
    </logger>

    <logger name="org.scalacheck.commands.ModelBasedSuite" level="info"/>

    <logger name="test.CardanoBackendMock" level="warn"/>

    <logger name="Stage1.Commands" level="warn"/>
    <logger name="Stage1.CommandGenerators" level="trace"/>
    <logger name="Stage1.ScenarioGenerators" level="warn"/>
    <logger name="Stage1.Model" level="trace"/>
    <logger name="Stage1.Sut" level="trace"/>
    <logger name="Stage1.Suite" level="trace"/>

    <logger name="Stage4.Commands" level="trace"/>    <logger name="PeerLiaisonMermaid" level="info"/>
    <logger name="Stage4.CommandGenerators" level="trace"/>
    <logger name="Stage4.ScenarioGenerators" level="trace"/>
    <logger name="Stage4.Model" level="trace"/>
    <logger name="Stage4.Sut" level="trace"/>
    <logger name="Stage4.Suite" level="trace"/>

    <logger name="BlockWeaver" level="trace"/>
    <logger name="ConsensusActor" level="debug"/>
    <logger name="EventSequencer" level="trace"/>
    <logger name="CardanoLiaison" level="warn"/>
    <logger name="JointLedger" level="trace"/>
    <logger name="PeerLiaison" level="trace"/>
    <logger name="TxTiming" level="trace"/>

    <logger name="scalus" level="error"/>
</configuration>
