<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %cyan(%logger{64}) %n%msg%n
            </pattern>
        </encoder>
    </appender>
    <!-- Protocol trace: writes JSONL to file, no formatting overhead -->
    <appender name="TRACE_FILE" class="ch.qos.logback.core.FileAppender">
        <file>hydrozoa-trace.jsonl</file>
        <encoder><pattern>%msg%n</pattern></encoder>
    </appender>
    <appender name="LOG_FILE" class="ch.qos.logback.core.FileAppender">
        <file>hydrozoa.log</file>
        <encoder><pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %cyan(%logger{64}) %n%msg%n</pattern></encoder>
    </appender>
    <logger name="hydrozoa.trace" level="info" additivity="false">
        <appender-ref ref="TRACE_FILE"/>
    </logger>
    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="LOG_FILE"/>
    </root>
    <logger name="CardanoLiaison" level="warn"/>
    <logger name="JointLedger" level="debug"/>
    <logger name="RemoteL2Ledger" level="debug"/>
    <logger name="HydrozoaRoutes" level="debug"/>
    <logger name="hydrozoa" level="info"/>
    <logger name="scalus" level="info"/>
</configuration>
