<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%X{node} %d{HH:mm:ss.SSS} %boldBlue([%thread]) %highlight(%-5level) %cyan(%logger{64}) -%kvp- %n
                %msg%n
            </pattern>
        </encoder>
    </appender>
    <!-- Protocol trace: writes JSONL to file, no formatting overhead -->
    <appender name="TRACE_FILE" class="ch.qos.logback.core.FileAppender">
        <file>hydrozoa-trace.jsonl</file>
        <encoder><pattern>%msg%n</pattern></encoder>
    </appender>
    <logger name="hydrozoa.trace" level="info" additivity="false">
        <appender-ref ref="TRACE_FILE"/>
    </logger>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="hydrozoa" level="debug"/>
    <logger name="scalus" level="debug"/>
</configuration>
